body{
    background-color: #111;
    padding: 0;
    margin: 0;
}
h3{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #fff;
}

.topHeader{
    background-color: #eee;
    height: 78vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.greeting{
    display: flex;
    width: 120px;
    height: 300px;
    flex-direction: column-reverse;
    margin-right: 10px;
}
.hey{
    color: #333;
    font-size: 120px;
    transform: rotate(-90deg);
}
.hola{
    color: #333;
    font-size: 32px;
    width: max-content;
    position: relative;
    top: -120px;
    left: 28px;
}
.title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 265px;
    height: max-content;
    margin-left: 20px;
    margin-right: 20px;
}
.letter1 ,.letter2 ,.letter3{
    color: #333;
    font-size: 31px;
    height: 5px;
}
.letter2 ,.letter3{
    margin-left: 5px;
}
.letter4{
    font-size: 120px;
    color: #333;
    height: 120px;
}
.letter5{
    color: #333;
    font-size: 45px;
}
.welcome{
    color: #eee;
    font-size: 100px;
    text-align: center;
    margin: 10px;
}
.goodbye{
    color: #eee;
    font-size: 100px;
    text-align: center;
    margin: 10px;
}
.navbar{
    background-color: #111;
}
.fixNav{
    background-color: #111;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
.fixNav .moveMenu{
    top: 0;
}
.navMenu{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.firstOptions, .moveMenu{
    display: flex;
    color: #eee;
    width: 45%;
    margin: 10px;
    font-weight: 800;
    transition: 1s;
}
.navMenu div li:hover{
    text-shadow: 1px 1px 3px #eee;
    cursor: pointer;
}

.navMenu .firstOptions li{
    margin-right: 50px;
}

.moveMenu{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 70vh;
    right: 0;
}
.buttons{
    padding-top: 10px;
    height: max-content;
    width: max-content;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    cursor: pointer;
}
.buttonText{
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
    width: 0px;
}

.overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #1119;
    display: flex;
    justify-content: center;
    align-items: center;
}
.emailContainer{
    background-color: #eee;
    padding: 20px;
    width: max-content;
    border-radius: 10px;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}
.closeButton{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    cursor: pointer;
}
.copyButton{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: x-small;
    color: #444;
}
.copyButton p{
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}
.questionButton{
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    border: none;
    background: none;
}
.email{
    color: #444;
    
}
.ttt{
    background-color: #111;
    color: #eee;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    top: -150%;
    right: 100%;
    width: 200px;
    visibility: hidden;
    padding: 10px;
    opacity: 0;
    transition: 0.5s;
}

.ttt::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

.questionButton:hover .ttt{
    visibility: visible;
    opacity: 1;
}
#About{
    margin-top: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#About p{
    color: #eee;
    max-width: 350px;
    text-align: center;
    font-size: large;
    font-weight: 600;
    margin: 0;
    margin-top: 30px;
}
.subTitle{
    color: #eee;
    font-size: xx-large;
    text-align: center;
}

#Skills{
    margin-top: 300px;
}
.skillsList{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    flex-wrap: wrap
}
.skillCard{
    border: 1px solid #eee;
    width: 200px;
    border-radius: 5px;
    height: 80vh;
    max-height: 600px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardHeader{
    color: #eee;
    padding: 20px;
    font-weight: 600;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardBody{
    list-style: none;
    color: #eee;
    font-weight: 500;
    padding: 0;
}

.cardBody li{
    margin-bottom: 15px;
    font-size: large;
    display: flex;
    align-items: center;
    text-indent: 10px;
}

#Projects{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 300px;
}
#Projects p{
    color: #eee;
    text-align: center;
    margin: 0;
}
.upbutton{
    position: fixed;
    right: 10px;
    top: 10vh;
    cursor: pointer;
}

.projectList{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    display: flex;
    align-content: space-between;
    justify-content: center;
    margin-top: 20px;
}
.imgCont{
    background-color: #111;
    width: 50vh;
    height: 300px;
    margin: 20px;
    min-width: 300px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}
.imgProy{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: blur(2px);
    filter: opacity(80%);
    color: #eee;
}

.imgCont:hover .descPro{
    height: 100%;
}

.descPro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #111a;
    color: #eee;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.redirectButton{
    background-color: #111;
    color: #fff;
    width: 200px;
    height: 50px;
    border: 2px solid #fff;
    margin-top: 20px;
    font-size: medium;
    transition: .5s;
    font-weight: bold;
    cursor: pointer;
}

.redirectButton:hover{
    background-color: #fff;
    color: #111;
    box-shadow: 0 0 20px #fff;
    animation-play-state: paused;
}

footer .subTitle{
    animation-name: none;
}