@media screen and (max-width: 480px){
    .welcome{
        font-size: 50px;
    }
    .navMenu{
        display: inline;
    }
}

@media screen and (max-width: 1024px){
    .projectList{
        width: 100%;
    }
}